body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#d7e3fc;
}
.login-box{
    display: flex;
    flex-direction: column;
    background-color: #90e0ef;
    border-radius: 20px;
    width: 200px;
    padding: 20px;
    gap: 15px;
}
.login-box h1{
    margin: 0;
    text-align: center;
}
.login-box input{
    padding: 10px;
    font-size: 15px;
}
.login-box button{
    padding: 10px;
    font-size: 15px;
    background-color: #03045e;
    border:none;
    color:white;
    border-radius: 5px;
}
.login-box button:hover {
    background-color: #2a6f97;
}